
.classpath
.project
.settings/org.eclipse.jdt.core.prefs
bin/de/timeox2k/spigot/listener/ConnectionListener.class
bin/de/timeox2k/spigot/ProxyBlockXYZ.class

.idea/artifacts/

.idea/

out/production/ProxyBlockXYZ-SpigotPlugin/META-INF/ProxyBlockXYZ-SpigotPlugin.kotlin_module

out/production/ProxyBlockXYZ-SpigotPlugin/xyz/proxyblock/spigot/listener/ConnectionListener.class

out/production/ProxyBlockXYZ-SpigotPlugin/xyz/proxyblock/spigot/ProxyBlockXYZ.class

out/production/ProxyBlockXYZ-SpigotPlugin/xyz/proxyblock/spigot/ProxyBlockXYZ$1.class

out/production/ProxyBlockXYZ-SpigotPlugin/xyz/proxyblock/utils/impl/WebReader.class

out/production/ProxyBlockXYZ-SpigotPlugin/xyz/proxyblock/utils/WebUtils.class
